@page
@model Orion.Pages.UserModel

<div>
    <table>
        <thead>
            <tr>
                <th>FirstName</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.FirstName</td> 
                    <td>@item.PhoneNumber</td> 
                </tr>
            }
        </tbody>
    </table>
</div>
