@page
@model Orion.Pages.Admin.AddSuperModel
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="cssAdmin/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="cssAdmin/custom.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <!-- Additional Custom CSS -->
    <link rel="stylesheet" href="cssAdmin/checkout.css">
    <title>Supervisor Signup</title>
</head>
<body>
    <div class="wrapper">


        <div class="body-overlay"></div>


        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><img src="img/GRAD logo dark.png" class="img-fluid" /><span id="admoon">Welcome Amr</span></h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="Dashboard.html" class="dashboard"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
                </li>
                <li class="dropdown">
                    <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">border_color</i><span>forms</span>
                    </a>
                    <ul class="collapse list-unstyled menu" id="pageSubmenu5">
                        <li>
                            <a href="AddAdmin.html">Add admin</a>
                        </li>
                        <li>
                            <a href="addCategory.html">Add category</a>
                        </li>
                        <li>
                            <a href="addMaterial.html">Add material</a>
                        </li>
                        <li>
                            <a href="AddSuper.html">Add Supervisors</a>
                        </li>
                        <li>
                            <a href="AddOrphanage.html">Add Orphanage</a>
                        </li>
                        <li>
                            <a href="editOrphanage.html">Edit Orphanage</a>
                        </li>
                        <li>
                            <a href="EditMaterial.html">Edit material</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#pageSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">grid_on</i><span>tables</span>
                    </a>
                    <ul class="collapse list-unstyled menu" id="pageSubmenu6">
                        <li>
                            <a href="orphanageSSS.html">Orphanages table</a>
                        </li>
                        <li>
                            <a href="supertable.html">Supervisors table</a>
                        </li>
                        <li>
                            <a href="childstable.html">stars table</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#pageSubmenu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">content_copy</i><span>Pages</span>
                    </a>
                    <ul class="collapse list-unstyled menu" id="pageSubmenu7">
                        <li>
                            <a href="adminMaterial.html">Materials</a>
                        </li>
                        <li>
                            <a href="ContactUs.html">Contact Us</a>
                        </li>

                    </ul>
                </li>
            </ul>


        </nav>



        <!-- Page Content  -->
        <div id="content">

            <div class="top-navbar">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                            <span class="material-icons">arrow_back_ios</span>
                        </button>

                        <a class="navbar-brand" href="#"> Dashboard </a>

                        <button class="d-inline-block d-lg-none ml-auto more-button" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="material-icons">more_vert</span>
                        </button>


                    </div>
                </nav>
            </div>


            <div class="container">
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <h3 class="title">Personal Information</h3>
                        <div class="inputBox">
                            <span>First Name</span>
                            <input type="text" asp-for="FirstName" placeholder="John deo" class="input" required>
                        </div>
                        <div class="inputBox">
                            <span>Last Name</span>
                            <input type="text" asp-for="LastName" placeholder="John deo" class="input" required>
                        </div>
                        <div class="inputBox">
                            <span>User Name</span>
                            <input type="text" asp-for="Username" placeholder="John deo" class="input" required>
                        </div>
                        <div class="inputBox">
                            <span>Email</span>
                            <input type="email" asp-for="Email" placeholder="folan@gmail.com" class="input" required>
                        </div>
                        <div class="inputBox">
                            <span>Password</span>
                            <input type="password" asp-for="Password" placeholder="********" class="input" required>
                        </div>
                        <div class="inputBox">
                            <span>Confirm Password</span>
                            <input type="password" placeholder="********" class="input" required>
                        </div>
                        <div class="inputBox">
                            <span>Phone Number</span>
                            <input type="text" asp-for="PhoneNumber" placeholder="0123456789" class="input" required>
                        </div>
                        <div class="inputBox">
                            <span>Gender</span>
                            <select asp-for="Gender" class="input">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="flex">
                            <div class="inputBox">
                                <span>Date of Birth</span>
                                <input type="date" asp-for="DateOfBirth" class="input" required>
                            </div>
                            <div class="inputBox">
                                <span>Profile Image</span>
                                <input type="file" asp-for="SupervisorImageFile" class="input" required>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <h3 class="title">Skill Information</h3>
                        <div class="inputBox">
                            <span>Responsible Region</span>
                            <select asp-for="SupervisorRegion" class="input">
                                <option value="dokki">Dokki</option>
                                <option value="nasr city">Nasr City</option>
                            </select>
                        </div>
                        <div class="inputBox">
                            <span>Skill</span>
                            <select asp-for="SupervisorSkill" class="input">
                                <option value="resin">Resin</option>
                                <option value="crochet">Crochet</option>
                                <option value="beads">Beads</option>
                                <option value="punch needle">Punch Needle</option>
                                <option value="none">None</option>
                            </select>
                        </div>
                        <div class="inputBox">
                            <span>Orphanage</span>
                            <div id="supSiCh">
                                <div class="productCheck">
                                    <input type="checkbox" id="check1" name="Supervisor.SupervisorInfo" value="Dar el aml" class="upcheck">
                                    <label for="check1">Dar el aml</label>
                                </div>
                                <div class="productCheck">
                                    <input type="checkbox" id="check2" name="Supervisor.SupervisorInfo" value="Dar hayah" class="upcheck">
                                    <label for="check2">Dar hayah</label>
                                </div>
                                <div class="productCheck">
                                    <input type="checkbox" id="check3" name="Supervisor.SupervisorInfo" value="Little Sparks" class="upcheck">
                                    <label for="check3">Little Sparks</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="BTBOT"><input type="submit" value="Add" class="button22"></div>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
            $('.more-button,.body-overlay').on('click', function () {
                $('#sidebar,.body-overlay').toggleClass('show-nav');
            });
        });
    </script>
</body>
</html>
