@page
@model Orion.Pages.Admin.changepassModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="cssAdmin/checkout.css">
    <title>Change Password</title>
</head>
<body>
    <div class="container">
        <div class="shryta" id="change">
            <img src="img/mainnpay.jpg" alt="" srcset="">
        </div>
        <form method="post">
            <div class="row">
                <div class="col">
                    <h3 class="title" id="SigninTT">Change password</h3>
                    <div class="inputBox">
                        <span>Old Password :</span>
                        <input type="password" asp-for="OldPassword" placeholder="Enter old password" required>
                    </div>
                    <div class="inputBox">
                        <span>New Password :</span>
                        <input type="password" asp-for="NewPassword" placeholder="Enter new password" required>
                    </div>
                    <div class="inputBox">
                        <span>Confirm Password :</span>
                        <input type="password" asp-for="ConfirmPassword" placeholder="Confirm new password" required>
                    </div>
                    <div class="BTBOT">
                        <input type="submit" value="Submit" class="button22">
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
