@page
@model Orion.Pages.Admin.emailModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="cssAdmin/checkout.css">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <div class="shryta" id="forgotShryta">
            <img src="img/mainnpay.jpg" alt="" srcset="">
        </div>
        <form method="post">
            <div class="row">
                <div class="col">
                    <h3 class="title" id="SigninTT">Forgot password</h3>
                    <div class="inputBox">
                        <span>Email :</span>
                        <input type="email" asp-for="Email" placeholder="example@example.com" required>
                    </div>
                    <div class="BTBOT">
                        <input type="submit" value="Send OTP" class="button22">
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
