@page
@model Orion.Pages.Admin.superProfileAdminModel
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <title>Orphanage</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

    <link rel="stylesheet" href="cssAdmin/profilee.css" />
  </head>
  <body>
    <div class="header__wrapper">
      <header></header>
      <div class="cols__container">
        <div class="left__col">
          <div class="img__container">
            <img src="img/images.jpg" alt="dar elaml" />
          </div>
          <h2>Aml</h2>
          <p>Supervisor</p>

          <ul class="about">
            <li><span>27</span>Child</li>
            <li><span>12</span>products</li>
            <li><span>11</span>sold</li>
          </ul>

          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
              erat volutpat. Morbi imperdiet, mauris ac auctor dictum, nisl
              ligula egestas nulla.
            </p>

            
          </div>
        </div>
        <div class="right__col">
          <nav>
            <H2>Aml stars</H2>
          </nav>


            <div class="photos">
              <div class="freelancont">
                <div class="cardShop">
                   <div class="imgbx">
                     <img src="img/Screenshot_27-3-2024_84220_www.pexels.com.jpeg" alt="">
                   </div>
                   <div class="content">
                     <div class="details">
                       <div class="name">
                         <h2>Crochet artist <br><span>Logy Ali</span></h2>
                       </div>
             <div class="prod-btn">
              <button class="button22c"><a href="childProfile.html">view profile</a> </button>
                      
                     </div>
                   </div>
                 </div>
             </div>
  
             
              </div>
  
             
  
        <div class="cardShop">
          <div class="imgbx">
            <img src="img/Screenshot_27-3-2024_84220_www.pexels.com.jpeg" alt="">
          </div>
          <div class="content">
            <div class="details">
              <div class="name">
                <h2>Crochet artist <br><span>Logy Ali</span></h2>
              </div>
    <div class="prod-btn">
      <button class="button22c"><a href="childProfile.html">view profile</a> </button>
             
            </div>
          </div>
        </div>
    </div>
  
    <div class="cardShop">
      <div class="imgbx">
        <img src="img/Screenshot_27-3-2024_84220_www.pexels.com.jpeg" alt="">
      </div>
      <div class="content">
        <div class="details">
          <div class="name">
            <h2>Crochet artist <br><span>Logy Ali</span></h2>
          </div>
  <div class="prod-btn">
    <button class="button22c"><a href="childProfile.html">view profile</a> </button>
         
        </div>
      </div>
    </div>
  </div>
  
  <div class="cardShop">
    <div class="imgbx">
      <img src="img/Screenshot_27-3-2024_84220_www.pexels.com.jpeg" alt="">
    </div>
    <div class="content">
      <div class="details">
        <div class="name">
          <h2>Crochet artist <br><span>Logy Ali</span></h2>
        </div>
  <div class="prod-btn">
  <button class="button22c"><a href="childProfile.html">view profile</a> </button>
       
      </div>
    </div>
  </div>
  </div>
  
  
  <div class="cardShop">
    <div class="imgbx">
      <img src="img/Screenshot_27-3-2024_84220_www.pexels.com.jpeg" alt="">
    </div>
    <div class="content">
      <div class="details">
        <div class="name">
          <h2>Crochet artist <br><span>Logy Ali</span></h2>
        </div>
  <div class="prod-btn">
    <button class="button22c"><a href="childProfile.html">view profile</a> </button>
       
      </div>
    </div>
  </div>
  </div>
  
            </div>
  
  
  
            
  
  
  
  
              </div>
          
             
          
    </body>
  </html>
  