@page
@model Orion.Pages.EndUser.donateModel
@{
    Layout = "~/pages/shared/_Layout-Dark.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/cssEndUser/checkouttt.css">
    <link rel="stylesheet" href="/cssEndUser/layout.css">
    <link rel="stylesheet" href="fontawesome-free-6.4.0-web/css/all.min.css">

    <title>Donate</title>
</head>
<body>

    <div class="container-donate">
        <div class="shryta">
            <img src="img/mainnpay.jpg" alt="Donation Banner">
        </div>
        <form method="post">
        <div class="row">
            <div class="col">
                <h3 class="title">Donation details</h3>
               
                    <div class="flex">
                        <div class="inputBox">
                            <span>Donation:</span>
                            <input asp-for="Quantity" type="number" placeholder="10LE" class="form-control">
                        </div>
                    </div>
                    
                    <h5 style="color: #ed927e; text-align: center; text-decoration: wavy; margin-top:5rem;">
                        "Thank you for shining your light on our project and helping our little stars sparkle brighter."
                    </h5>
                    </div>
                    <div class="col">
                    <h3 class="title">Donation way</h3>
                    <div class="payment-methods">
                        <div class="category">
                            <label for="visa" class="visaMethod">
                                <input type="radio" name="payment" id="visa" value="visa">
                                <a href="visa.html"><div class="imgName">
                                    <div class="imgContainer visa">
                                        <img src="https://i.ibb.co/vjQCN4y/Visa-Card.png" alt="Visa">
                                    </div>
                                    <span class="name">VISA</span>
                                    </div>
                                </a>
                                <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
                            </label>

                            <label for="mastercard" class="mastercardMethod">
                                <input type="radio" name="payment" id="mastercard" value="fawry">
                                <div class="imgName">
                                    <div class="imgContainer mastercard">
                                        <img src="img/idCbZQ9q4z_logos.png" alt="Fawry">
                                    </div>
                                    <span class="name">Fawry</span>
                                </div>
                                <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
                            </label>

                            <label for="paypal" class="paypalMethod">
                                <input type="radio" name="payment" id="paypal" value="aman">
                                <div class="imgName">
                                    <div class="imgContainer paypal">
                                        <img src="img/unnamed.png" alt="Aman">
                                    </div>
                                    <span class="name">Aman</span>
                                </div>
                                <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
                            </label>

                            <label for="AMEX" class="amexMethod">
                                <input type="radio" name="payment" id="AMEX" value="cash">
                                <div class="imgName">
                                    <div class="imgContainer AMEX">
                                        <img src="img/pound.png" alt="Cash">
                                    </div>
                                    <span class="name">Cash</span>
                                </div>
                                <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
                            </label>
                        </div>
                    </div>
                    <div class="BTBOT">
                        <button type="submit" class="button22">Donate</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    <!-- link js -->
    <script src="~/js/mainCart.js" asp-append-version="true"></script>

</body>
</html>