<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - WebTest</title>
   
    <link rel="stylesheet" href="~/cssEndUser/layoutDark.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/cssEndUser/Home.css">
    <title>Home</title>
    <link rel="stylesheet" href="~/fontawesome-free-6.4.0-web/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

</head>
<body>
    @Html.AntiForgeryToken()
    <!-- header start -->
    <header class="header">
        <div class="container">
            <div class="header-main">
                <div class="logo">
                    <a href="Home.html"><img src="img/GRAD logo dark.png" width="200px"></a>
                </div>
                <div class="open-nav-menu">
                    <span></span>
                </div>
                <div class="menu-overlay">
                </div>
                <!-- navigation menu start -->
                <nav class="nav-menu">
                    <div class="close-nav-menu">
                        <img src="img/close.svg" alt="close">
                    </div>
                    <ul class="menu">
                        <li class="menu-item menu-item-has-children">
                            <a href="Home.html" data-toggle="sub-menu">Home </i></a>
                        </li>

                        <li class="menu-item  menu-item-has-children">
                            <a href="raw.html" data-toggle="sub-menu">Raw materials<i class="plus"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="raw.html" class="javanav">Resin</a></li>
                                <li class="menu-item"><a href="raw.html" class="javanav">Clayart</a></li>
                                <li class="menu-item"><a href="raw.html" class="javanav">Crochet</a></li>
                                <li class="menu-item"><a href="raw.html" class="javanav">punch needle</a></li>
                                <li class="menu-item"><a href="raw.html" class="javanav">Beads</a></li>

                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="main-products.html" data-toggle="sub-menu">Products<i class="plus"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="main-products.html" class="javanav">Resin</a></li>
                                <li class="menu-item"><a href="main-products.html" class="javanav">Clayart</a></li>
                                <li class="menu-item"><a href="main-products.html" class="javanav">Crochet</a></li>
                                <li class="menu-item"><a href="main-products.html" class="javanav">punch needle</a></li>
                                <li class="menu-item"><a href="main-products.html" class="javanav">Beads</a></li>

                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="Sign.html">Register</a>
                        </li>
                        <li class="menu-item">
                            <a href="donate.html">Donate</a>
                        </li>
                        <li class="menu-item">
                            <a href="feedback.html">Contact us</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">
                                <!-- CART ICON  -->
                                <i class='bx bx-shopping-bag' id="cart-icon"></i>

                                <!-- CART  -->
                                <div class="cart">
                                    <h2 class="cart-title">Your Cart</h2>

                                    <!-- CONTENT  -->
                                    <div class="cart-content">
                                    </div>

                                    <!-- TOTAL   -->
                                    <div class="total">
                                        <div class="total-title">Total</div>
                                        <div class="total-price">$0</div>
                                    </div>
                                    <!-- BUY BUTTON  -->
                                    <button type="button" class="btn-buy"><a href="checkout.html">Checkout</a></button>
                                    <!-- CART CLOSE  -->
                                    <i class='bx bx-x' id="cart-close"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- navigation menu end -->
            </div>
        </div>
    </header>
    <!-- header end -->
    <div >
        <main role="main" >
            @RenderBody()
        </main>
    </div>
    <!-- ---------------------------footer--------------------------------- -->
    <footer class="footer">
        <div class="fcontainer">
            <div class="row">
                <div class="footer-col">
                    <h4>Orion</h4>
                    <ul>
                        <li><a href="Home.html">Home</a></li>
                        <li><a href="Sign.html">Register</a></li>

                        <li><a href="feedback.html">Contact us</a></li>
                        <li><a href="donate.html">Donations</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>shop materials</h4>
                    <ul>
                        <li><a href="raw.html">Resin</a></li>
                        <li><a href="raw.html">Crochet</a></li>
                        <li><a href="raw.html">Beads</a></li>
                        <li><a href="raw.html">Clayart</a></li>
                        <li><a href="raw.html">Punsh needle</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>shop Products</h4>
                    <ul>
                        <li><a href="main-products.html">Resin</a></li>
                        <li><a href="main-products.html">Crochet</a></li>
                        <li><a href="main-products.html">Beads</a></li>
                        <li><a href="main-products.html">Clayart</a></li>
                        <li><a href="main-products.html">Punsh needle</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/profile.php?id=61560292940200"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://x.com/orion5056012827?t=hdDa8dJ76oOL1maPvi3SGw&s=09"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/orionorion3?igsh=cjMxMmx1Z3o1d2w5"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>